<div class="container-fluid">
	<div
		class="d-flex flex-column flex-md-row flex-md-row-reverse w-100 align-items-md-center"
	>
		<img
			src="/assets/error-404/error-404.png"
			alt="error-404"
			class="error-image mb-4"
		/>
		<div class="text-center flex-grow-1">
			<h1 class="fw-bold">Página no encontrada</h1>
			<p>
				Lo sentimos, no se pudo encontrar la página que solicitó,
				regrese a la página de inicio
			</p>
			<a mat-flat-button routerLink="/">Volver al inicio</a>
		</div>
	</div>
</div>
