@import "../../../styles.scss";

h2 {
	color: map-get($map: $text-palette, $key: secondary);
}

p {
	color: map-get($map: $text-palette, $key: secondary);
}

img[mat-card-image] {
	width: 150px;
	height: 150px;
	border-radius: 12px;
	object-fit: cover;
	object-position: center;

	@media (width >= 768px) {
		width: 200px;
		height: 200px;
	}
}

mat-card {
	border-inline: none;
	border-radius: 0;
}

mat-card-content h4 {
	font-size: 1.2rem;

	@media (width >= 768px) {
		font-size: 2rem;
	}
}

mat-card-content span {
	color: map-get($map: $text-palette, $key: secondary);
	text-wrap: balance;
	font-size: 0.8rem;

	@media (width >= 768px) {
		font-size: 1.2rem;
	}
}

mat-card-actions button {
	border-radius: 2rem;
	font-size: 0.7rem;

	@media (width >= 768px) {
		font-size: initial;
	}
}
