<footer
	class="d-flex flex-column gap-4 flex-sm-row gap-sm-0 flex-wrap bg-body-secondary justify-content-between align-items-center mt-5 p-4"
>
	<div class="d-flex align-items-center gap-2">
		<a href="/" class="">Logo</a>
		<span class="">&copy; 2024</span>
	</div>

	<ul class="d-flex gap-2 align-items-center list-unstyled m-0">
		<li class="">
			<a class="" href="#">X</a>
		</li>
		<li class="">
			<a class="" href="#">Facebook</a>
		</li>
		<li class="">
			<a class="" href="#">Instagram</a>
		</li>
		<li class="">
			<a class="" href="#">TikTok</a>
		</li>
		<li class="">
			<a class="" href="#">YouTube</a>
		</li>
	</ul>
</footer>
