@import "../../../../../styles.scss";

.section-title {
	color: map-get($map: $text-palette, $key: primary);

	@media (width >= 576px) {
		font-size: 2.2rem;
	}

	@media (width >= 992px) {
		font-size: 2.8rem;
	}
}
