<body>
	<header class="position-relative">
		<img
			src="/img/lindo-mascota-collage-aislado (2).webp"
			alt="Imagen Principal"
			class="w-100 principal"
		/>
		<div
			class="d-flex justify-content-center justify-content-around superposed-images"
		>
			<div class="card" style="width: 15rem">
				<img
					src="/img/centro-de-llamadas.gif"
					class="card-img-top"
					alt="Sunset Over the Sea"
				/>
				<div class="card-body">
					<p class="card-text">Telefono: +5462566516</p>
				</div>
			</div>
			<div class="card" style="width: 15rem">
				<img
					src="/img/tiempo.gif"
					class="card-img-top"
					alt="Sunset Over the Sea"
				/>
				<div class="card-body">
					<p class="card-text">Horarios:de 8 a 16hs</p>
				</div>
			</div>
			<div class="card" style="width: 15rem">
				<img
					src="/img/mapas-de-google.gif"
					class="card-img-top"
					alt="Sunset Over the Sea"
				/>
				<div class="card-body">
					<p class="card-text">Direccion: Castelli 1800</p>
				</div>
			</div>
			<div class="card" style="width: 15rem">
				<img
					src="/img/cuaderno.gif"
					class="card-img-top"
					alt="Sunset Over the Sea"
				/>
				<div class="card-body">
					<p class="card-text">Correo: adoptifygmail.com</p>
				</div>
			</div>
		</div>
	</header>

	<section class="container mt-5">
		<h2 class="adopta">
			No lo pienses más <br />
			¡Adopta con Adotify!
		</h2>
		<div class="row">
			<div class="col-md-6 pr-md-5">
				<form>
					<div class="form-group pr-3">
						<div class="form-group">
							<input
								type="text"
								class="form-control"
								placeholder="Nombre"
							/>
						</div>
						<div class="form-group">
							<input
								type="text"
								class="form-control"
								placeholder="Apellido"
							/>
						</div>
					</div>
					<div class="form-group">
						<input
							type="email"
							class="form-control"
							placeholder="Email"
						/>
					</div>
					<div class="form-group">
						<textarea
							class="form-control"
							rows="3"
							placeholder="Mensaje"
						></textarea>
					</div>
					<button type="submit" class="btn btn-dark">Enviar</button>
				</form>
				<p class="mt-3 gracias">Gracias por dejarnos tu mensaje.</p>
			</div>

			<div class="col-md-6">
				<h2>Ponerse en contacto</h2>
				<h5>
					¡En Adptify, estamos para ayudarte en cada paso del proceso
					de adopción de mascotas!
				</h5>
				<p>
					Si tiene alguna pregunta, necesitas más información o
					simplemente quieres saber más sobre nuestros programas y
					eventos, no dude en contactarnos.
				</p>
				<div class="d-flex mt-4">
					<img
						src="img/facebook-logo2.webp"
						alt="Facebook"
						class="social-icon me-2"
					/>
					<img
						src="img/x-logo3.webp"
						alt="X"
						class="social-icon me-2"
					/>
					<img
						src="img/instagram-logo2.webp"
						alt="Instagram"
						class="social-icon me-2"
					/>
					<img
						src="img/youtube-logo2.webp"
						alt="YouTube"
						class="social-icon me-2"
					/>
				</div>
			</div>
		</div>
	</section>
</body>
