<div class="banner">
	<img
		src="/assets/about/banner/about-banner.webp"
		alt="banner-about"
		class="about-banner-img"
	/>
	<h1 class="about-banner-title text-center">Sobre nosotros</h1>
</div>

<div class="container">
	<section class="about d-flex flex-column flex-md-row row">
		<div class="col-lg-6">
			<img
				src="/assets/about/about/about.webp"
				alt="image-about"
				class="about-about-img"
			/>
		</div>
		<div class="d-flex flex-column col-lg-6 justify-content-lg-center">
			<span class="subtitle-red text-center mb-3">
				Tu portal para la adopción responsable y bienestar animal
			</span>
			<h2 class="fw-bold text-center">Adoptify</h2>
			<p>
				En Adoptify, conectamos adoptantes y albergues para hacer de
				cada adopción una experiencia única y agradable. Los albergues
				pueden compartir historias, gestionar solicitudes y organizar
				visitas de manera eficiente. Los adoptantes, por su parte,
				pueden postularse fácilmente para adoptar a su nuevo compañero.
				Fomentamos adopciones responsables y nos esforzamos por brindar
				las mejores herramientas para ello. ¡Únete a Adoptify y dale a
				una mascota la oportunidad de ser feliz!
			</p>
		</div>
	</section>

	<section class="mission">
		<div class="mb-4 d-flex flex-column">
			<span class="subtitle-red text-center mb-3"
				>Nuestro compromiso</span
			>
			<h2 class="fw-bold text-center">Propósito, misión, visión</h2>
		</div>
		<div class="d-flex flex-column flex-lg-row gap-4">
			<div class="mission-card">
				<img
					src="/assets/about/mission/about-mission-1.webp"
					alt="purpose"
					class="about-img-mission"
				/>
				<h4 class="fw-bold">Propósito</h4>
				<p>
					Facilitar la comunicación entre albergues y adoptantes,
					optimizando la experiencia del usuario. Agilizar el proceso
					de adopción con funciones innovadoras.
				</p>
			</div>
			<div class="mission-card">
				<img
					src="/assets/about/mission/about-mission-2.webp"
					alt="mission"
					class="about-img-mission"
				/>
				<h4 class="fw-bold">Misión</h4>
				<p>
					Facilitar y agilizar la adopción de mascotas mediante
					tecnología, conectando personas y albergues. Promover la
					adopción responsable y el bienestar animal.
				</p>
			</div>
			<div class="mission-card">
				<img
					src="/assets/about/mission/about-mission-3.webp"
					alt="vision"
					class="about-img-mission"
				/>
				<h4 class="fw-bold">Visión</h4>
				<p>
					Ofrecer un producto digital centrado en el usuario con
					comunicación transparente entre albergues y adoptantes. Ser
					un espacio seguro que impulse la adopción responsable y el
					bienestar animal.
				</p>
			</div>
		</div>
	</section>
</div>
