<div class="container">
	<a mat-fab extended routerLink="/gallery" class="mb-3"
		><mat-icon>arrow_back</mat-icon>Volver</a
	>
	@if (errorMessage) {
	<div>{{ errorMessage }}</div>
	} @if (shelter$ | async; as shelter) {
	<mat-card appearance="outlined">
		<img
			mat-card-image
			src="https://picsum.photos/200/200/?blur"
			alt="{{ shelter.nombre }}"
			class="w-100 ratio-1x1"
		/>
		<mat-card-content class="p-3">
			<span class="fw-bold">{{ shelter.nombre }}</span>
			<div class="d-flex flex-column gap-2">
				<span class="d-flex flex-row align-items-center gap-2"
					><mat-icon>home</mat-icon>{{ shelter.pais }},
					{{ shelter.provincia }}, {{ shelter.ciudad }},
					{{ shelter.direccion }} ({{ shelter.codigoPostal }})</span
				>
				<span class="d-flex flex-row align-items-center gap-2"
					><mat-icon>email</mat-icon>{{ shelter.email }}</span
				>
				<span class="d-flex flex-row align-items-center gap-2"
					><mat-icon>phone</mat-icon>{{ shelter.celular }}</span
				>
			</div>
		</mat-card-content>
	</mat-card>
	@if (isOwner$ | async) {
	<button mat-flat-button color="secondary" (click)="addPet()">
		Agregar mascota
	</button>
	} @if (pets$ | async; as pets) {
	<div>
		<h2>Mascotas del Refugio</h2>
		<ul>
			@for (pet of pets; track pet.id) {
			<li>
				<mat-card appearance="outlined">
					<mat-card-content>
						<img
							mat-card-image
							src="https://picsum.photos/200/200/?blur"
							alt="{{ pet.nombre }}"
							class="ratio-1x1"
							(click)="goToAnimalProfile(shelter.id, pet.id)"
						/>
						<span class="fw-bold">{{ pet.nombre }}</span>
						<div class="d-flex flex-column gap-2">
							<span
								class="d-flex flex-row align-items-center gap-2"
								><mat-icon>home</mat-icon>{{ pet.raza }}</span
							>
							<span
								class="d-flex flex-row align-items-center gap-2"
								><mat-icon>email</mat-icon>{{ pet.edad }}</span
							>
							<span
								class="d-flex flex-row align-items-center gap-2"
								><mat-icon>phone</mat-icon>{{ pet.sexo }}</span
							>
						</div>
					</mat-card-content>
					@if (isOwner$ | async) {
					<mat-card-actions>
						<button mat-icon-button (click)="editPet(pet)">
							<mat-icon>edit</mat-icon>
						</button>
						<button mat-icon-button (click)="deletePet(pet)">
							<mat-icon>delete</mat-icon>
						</button>
					</mat-card-actions>
					}
				</mat-card>
			</li>
			}
		</ul>
	</div>
	} }
</div>
