<div class="container mb-4">
	<h2 class="fw-bold">¡Bienvenido a Adoptify!</h2>
	<small class="fw-light"
		>Completa tus datos para formar parte de nuestra familia o si ya tienes
		una cuenta puedes <a href="">ingresar aquí</a></small
	>
</div>
<div class="container">
	<form class="row g-3" [formGroup]="registerForm" (submit)="register()">
		<span class="col-12 user-select-none">¿Cómo te identificas?</span>
		<div class="col-6">
			<input
				type="radio"
				class="btn-check"
				name="adopterOrRefuge"
				id="isAdopter"
				autocomplete="off"
				value="adopter"
				formControlName="role"
				[checked]="registerForm.get('role')?.value === 'adopter'"
				(change)="resetAdopter()"
			/>
			<label class="btn btn-outline-success w-100" for="isAdopter"
				>Adoptante</label
			>
		</div>
		<div class="col-6">
			<input
				type="radio"
				class="btn-check"
				name="adopterOrRefuge"
				id="isRefuge"
				autocomplete="off"
				value="refuge"
				formControlName="role"
				[checked]="registerForm.get('role')?.value === 'refuge'"
				(change)="resetRefuge()"
			/>
			<label class="btn btn-outline-danger w-100" for="isRefuge"
				>Refugio</label
			>
		</div>
		@if (registerForm.get('role')?.value === 'adopter'){
		<div class="col-md-6">
			<label for="firstName" class="form-label user-select-none"
				>Nombre(s)</label
			>
			<input
				name="firstName"
				type="text"
				class="form-control"
				id="firstName"
				autocomplete="name"
				formControlName="firstName"
			/>
		</div>
		<div class="col-md-6">
			<label for="lastName" class="form-label user-select-none"
				>Apellido(s)</label
			>
			<input
				name="lastName"
				type="text"
				class="form-control"
				id="lastName"
				autocomplete="name"
				formControlName="lastName"
			/>
		</div>
		} @else {
		<div class="col-12">
			<label for="refugeName" class="form-label user-select-none"
				>Nombre del refugio</label
			>
			<input
				name="refugeName"
				type="text"
				class="form-control"
				id="refugeName"
				autocomplete="name"
				formControlName="refugeName"
			/>
		</div>
		}
		<div class="col-12">
			<label for="email" class="form-label user-select-none"
				>Correo electrónico</label
			>
			<input
				name="email"
				type="email"
				class="form-control"
				id="email"
				autocomplete="email"
				formControlName="email"
			/>
		</div>
		<div class="col-12">
			<label for="userName" class="form-label user-select-none"
				>Usuario</label
			>
			<input
				name="userName"
				type="text"
				class="form-control"
				id="userName"
				autocomplete="username"
				formControlName="userName"
			/>
		</div>
		<div class="col-md-6">
			<label for="password" class="form-label user-select-none"
				>Contraseña</label
			>
			<input
				name="password"
				type="password"
				class="form-control"
				id="password"
				autocomplete="new-password"
				formControlName="password"
			/>
		</div>
		<div class="col-md-6">
			<label for="confirmPassword" class="form-label user-select-none"
				>Confirmar contraseña</label
			>
			<input
				name="password"
				type="password"
				class="form-control"
				id="confirmPassword"
				autocomplete="new-password"
				formControlName="confirmPassword"
			/>
		</div>
		@if (registerForm.get('role')?.value === 'adopter'){
		<div class="col-6">
			<label for="birthDate" class="form-label user-select-none"
				>Fecha de nacimiento</label
			>
			<input
				name="birthDate"
				type="date"
				class="form-control"
				id="birthDate"
				autocomplete="bday"
				formControlName="birthDate"
			/>
		</div>
		<div class="col-2">
			<label for="countryCode" class="form-label user-select-none"
				>Código</label
			>
			<select
				name="countryCode"
				class="form-select"
				id="countryCode"
				formControlName="codeCountry"
			>
				<option value="1">One</option>
				<option value="2">Two</option>
				<option value="3">Three</option>
			</select>
		</div>
		<div class="col-4">
			<label for="phoneNumber" class="form-label user-select-none"
				>Teléfono celular</label
			>
			<input
				type="tel"
				class="form-control"
				id="phoneNumber"
				placeholder="9 11 6484-4946"
				autocomplete="mobile"
				formControlName="phoneNumber"
			/>
		</div>
		} @else {
		<div class="col-4">
			<label for="countryCode" class="form-label user-select-none"
				>Código</label
			>
			<select
				name="countryCode"
				class="form-select"
				id="countryCode"
				formControlName="codeCountry"
			>
				<option value="1">One</option>
				<option value="2">Two</option>
				<option value="3">Three</option>
			</select>
		</div>
		<div class="col-8">
			<label for="phoneNumber" class="form-label user-select-none"
				>Teléfono celular</label
			>
			<input
				type="tel"
				class="form-control"
				id="phoneNumber"
				placeholder="9 11 6484-4946"
				autocomplete="mobile"
				formControlName="phoneNumber"
			/>
		</div>
		}
		<div class="col-6">
			<label for="country" class="form-label user-select-none"
				>País</label
			>
			<select
				name="country"
				id="country"
				class="form-select"
				autocomplete="country"
				formControlName="country"
			>
				<option value="1">One</option>
				<option value="2">Two</option>
				<option value="3">Three</option>
			</select>
		</div>
		<div class="col-6">
			<label for="state" class="form-label user-select-none"
				>Provincia</label
			>
			<select
				name="state"
				id="state"
				class="form-select"
				autocomplete="off"
				formControlName="state"
			>
				<option value="1">One</option>
				<option value="2">Two</option>
				<option value="3">Three</option>
			</select>
		</div>
		<div class="col-6">
			<label for="city" class="form-label user-select-none">Ciudad</label>
			<select
				name="city"
				id="city"
				class="form-select"
				autocomplete="off"
				formControlName="city"
			>
				<option value="1">One</option>
				<option value="2">Two</option>
				<option value="3">Three</option>
			</select>
		</div>
		<div class="col-6">
			<label for="zipCode" class="form-label user-select-none"
				>Código postal</label
			>
			<input
				type="text"
				name="zipCode"
				id="zipCode"
				class="form-control"
				autocomplete="postal-code"
				formControlName="zipCode"
			/>
		</div>
		<div class="col-12">
			<label for="address" class="form-label user-select-none"
				>Domicilio</label
			>
			<input
				name="address"
				type="text"
				class="form-control"
				id="address"
				placeholder="Av. Siempreviva 123"
				autocomplete="address-line1"
				formControlName="address"
			/>
		</div>
		<div class="col-12">
			<div class="form-check">
				<input
					name="terms"
					class="form-check-input"
					type="checkbox"
					id="terms"
					formControlName="terms"
				/>
				<label class="form-check-label user-select-none" for="terms">
					Acepto los términos y condiciones
				</label>
			</div>
		</div>
		<div class="col-12">
			<button
				type="submit"
				class="btn btn-primary w-100"
				[disabled]="registerForm.invalid"
			>
				Registrarse
			</button>
		</div>
	</form>
</div>
