<nav class="navbar navbar-expand-lg bg-body-tertiary p-4 px-xl-5 gap-2">
	<a class="navbar-brand p-0" routerLink="/">Adoptify</a>
	<button
		class="navbar-toggler"
		type="button"
		data-bs-toggle="collapse"
		data-bs-target="#navbarNavDropdown"
		aria-controls="navbarNavDropdown"
		aria-expanded="false"
		aria-label="Abrir menú de navegación"
	>
		<span class="navbar-toggler-icon"></span>
	</button>
	<div
		class="collapse navbar-collapse justify-content-end"
		id="navbarNavDropdown"
	>
		<ul class="navbar-nav gap-3 align-items-lg-center">
			@for (route of headerRoutes; track route) {
			<li class="nav-item">
				<a
					class="nav-link m-0 p-0"
					routerLink="{{ route.link }}"
					ariaCurrentWhenActive="page"
					>{{ route.title }}</a
				>
			</li>
			}
			<li
				class="d-flex flex-wrap flex-sm-nowrap gap-2 align-items-center ms-lg-auto"
			>
				@if (isAuthenticated){
					<span class="flex-grow-1"> Bienvenido, {{ username }} </span>
				<a [routerLink]="['/shelter', shelter.id]" class="flex-grow-1"
					>Bienvenido, {{ username }}</a
				>
				<!-- @if (isShelter ) {
				<button mat-mini-fab (click)="goToProfile()"><mat-icon>user</mat-icon></button>
				} -->
				<button
					mat-flat-button
					type="button"
					class="flex-grow-1"
					(click)="logout()"
				>
					Cerrar sesión
				</button>
				}@else{<a
					mat-stroked-button
					type="button"
					class="flex-grow-1"
					routerLink="/auth/login"
					routerLinkActive="active"
					ariaCurrentWhenActive="page"
				>
					Iniciar sesión
				</a>
				<a
					mat-flat-button
					type="button"
					class="flex-grow-1"
					routerLink="/auth/register"
					routerLinkActive="active"
					ariaCurrentWhenActive="page"
				>
					Registrarse </a
				>}
			</li>
		</ul>
	</div>
</nav>
