<!-- src/app/features/pet/pet-list/pet-list.component.html -->
<div class="col-6  container pet-list">
  <h2>Lista de Mascotas</h2>
  <button type="submit" class="btn btn-primary mb-5 mt-3" routerLink="/manage-pet/create">Agregar mascota</button>
    <div *ngFor="let pet of pets" class="row g-5">
      <table class="border-black table-bordered align-content-center">
        <thead class="text-center">
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Raza</th>
            <th>Tipo Mascota</th>
            <th>Peso</th>
            <th>Pelaje</th>
            <th>Sexo</th>
            <th>Nivel Actividad</th>
            <th>Protectora ID</th>
            <th>Edad</th>
            <th>Imagen</th>
          </tr>
        </thead>
        <tbody>
          <tr class=" text-center">
            <td>{{ pet.id }}</td>
            <td>{{ pet.nombre }}</td>
            <td>{{ pet.raza }}</td>
            <td>{{ pet.tipoMascota}}</td>
            <td>{{ pet.peso }} kg</td>
            <td>{{ pet.pelaje }}</td>
            <td>{{ pet.sexo }}</td>
            <td>{{ pet.nivelActividad}}</td>
            <td>{{ pet.protectoraID }}</td>
            <td>{{ pet.edad }} años</td>
            <td> <img *ngIf="pet.img" [src]="pet.img" alt="{{ pet.nombre }}" style="max-width: 100px; max-height: 100px;"></td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex mt-2 my-4 mt-0 mx-1 justify-content-center">
        <button type="submit" class="btn btn-primary size col-sm-3" [routerLink]="['/manage-pet/detail/', pet.id]">Detalles</button>
        <button type="submit" class="btn btn-primary size col-sm-3" [routerLink]="['/manage-pet/edit', pet.id]">Editar</button>
        <button type="submit" class="btn btn-primary size col-sm-3" *ngIf="pet.id !== undefined" (click)="deletePet(pet.id)">Eliminar</button>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-3" *ngFor="let pet of pets">
          <mat-card>
            <img mat-card-image [src]="pet.img" alt="{{pet.nombre}}">
            <mat-card-content>
              <h3>{{pet.nombre}}</h3>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button [routerLink]="['/manage-pet/detail/', pet.id]">Ver Perfil</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
      <!--<mat-paginator [length]="totalMascotas" [pageSize]="10"></mat-paginator>-->
    </div>
</div>

