<div class="container pet-list" >
  <div class="row">
    <div class="col-3">
      <img [src]="pet?.img" alt="{{pet?.nombre}}" style="max-width: 180px; max-height: 200px;" class="img-fluid">
    </div>
    <div class="col-9">
      <h2>{{pet?.nombre}}</h2>
      <ul>
        <li>Raza: {{pet?.raza}}</li>
        <li>Tipo de pet: {{pet?.tipoMascota}}</li>
        <li>Peso: {{pet?.peso}} kilos</li>
        <li>Pelaje: {{pet?.pelaje}}</li>
        <li>Sexo: {{pet?.sexo}}</li>
        <li>Nivel de actividad: {{pet?.nivelActividad}}</li>
        <li>Edad: {{pet?.edad}} años</li>
      </ul></div>
      <button type="submit" class="btn btn-primary mb-5 mt-3" routerLink="/manage-pet/create">Volver</button>
  </div>
</div>